/vendor/
.idea
composer.lock
.php_cs.cache
test.php

# Examples
res/examples/single-command/composer.lock
res/examples/single-command/vendor
res/examples/multi-command/composer.lock
res/examples/multi-command/vendor